let mapleader = " "
set hlsearch
set ideajoin
set scrolloff=10
set ignorecase smartcase
set showmode
set history=1000
set incsearch
set clipboard+=unnamed
set relativenumber
set ReplaceWithRegister
set visualbell
set idearefactormode=keep
set showcmd
set showmode
set ideastatusicon=gray

" movements
inoremap jk <Esc>
nnoremap <leader>d $
vnoremap <leader>d $
vnoremap <leader>a ^
nnoremap <leader>a ^
nnoremap <leader>v :vsplit<CR>
nnoremap <leader>b :split<CR>
nnoremap <leader>h <C-w>h
nnoremap <leader>l <C-w>l
nnoremap <leader>k <C-w>k
nnoremap <leader>j <C-w>j
nnoremap <leader>xb :bd<CR>
nmap <leader>yy "+yy
nmap <leader>yp "+p
nmap <C-d> <C-d>zz
nmap <C-s> <C-u>zz
set surround
set NERDTree
nnoremap <leader>rn :action RenameElement<CR>
nnoremap <leader>ca :action ShowIntentionActions<CR>
nnoremap <leader>co :action OptimizeImports<CR>
nnoremap <leader>ci :action ReformatCode<CR>
nnoremap <leader>cem :action ExtractMethod<CR>
nnoremap <leader>cev :action ExtractVariable<CR>
nnoremap <leader>cs :action FileStructurePopup<CR>
nnoremap <leader>e :action ActivateProjectToolWindow<CR>
nnoremap H :action PreviousTab<CR>
nnoremap L :action NextTab<CR>
